* {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
}
body {
    margin: 0;
}
h1 {
    margin-top: 5%;
    margin-left: 1%;
    color: white;
    font-size: 88px;
    font-style: italic;
    border-left: 5px solid whitesmoke;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
}
h2, h3 {
    color: white;
    border-bottom: 5px dotted white;
    border-radius: 20px;
}
p {
    color: white;
}
a {
    color: magenta;
    padding: 14px 16px;
}
a:hover {
    color: greenyellow;
}
.Lorem {
    color: blue;
}
.riscoso {
    text-align: center;
    text-decoration: line-through;
}
.Lorem2{
    background: grey url("../HTML/img/_a4110ab5-147f-4870-bd12-57fdb80db790.jpeg") no-repeat center;
    background-size: cover;
    margin-bottom: 25%;
}
.Lorem2 p {
    text-align: justify;
}
#Home:hover{
    color: yellow;
}
.bnt{
    border: 5px solid white;
    border-radius: 10px;
    text-decoration: none;
    width: 50px;
    height: 25px;
}
.bnt:hover{
    background-color: grey;
    border: 5px solid magenta;
    width: 50px;
    height: 25px;
}