* {
    color: var(--fontColor);
    box-sizing: border-box;
    text-align: center;
}
:root {
    --black: black;
    --white: white;
}
body {
    background: var(--bg);
    margin: 0;
}
h1 {
    padding: 20px;
}
.lista {
    list-style: square;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
ul {
    display: inline-block;
    padding-bottom: 10px;
    font-style: italic;
#list {
    list-style: circle;
}
}
.bloco {
    border: 5px solid black;
    width: 30%;
    display: inline-block;
}
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
}